.hero {
    background: #F5F5F5;
    padding: 45px 0px 95px 0px;
    
    .container {
        max-width: 1672px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .hero_container {
        max-width: 1218px;
        width: 100%;
        border-radius: var(--Corner-Rad-4, 24px);
        background: #FF7E00;
    }
}