.brands {
  margin-bottom: 154px;
  .container {
    max-width: 1672px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  h3 {
    color: #121212;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .brands_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    li {
      padding: 42px 76px 41px 51px;
    }
  }
}

@media only screen and (max-width: 650px) {
  .brands {
    margin-bottom: 60px;
    .container {
      padding-right: 0px;
    }

    h3 {
      font-size: 28px;
    }

    .brands_container {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      overflow: scroll;
      gap: 10px;
      &::-webkit-scrollbar {
        width: 0;
      }

      li {
        padding: 22px 36px 21px 41px;
      }
    }
  }
}
