@import "../../../scss/variable.scss";

.header {
  .header_blog {
    background: #f4f5f5;
    padding: 10px 0px 10px 0px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .container {
    max-width: 1672px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header_left {
      a {
        display: flex;
        align-items: center;
        gap: 4px;
        color: $grey;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;

        span {
          color: #020105;
          text-decoration-line: underline;
          margin-left: 9px;
        }
      }
    }

    .header_right {
      display: flex;
      align-items: center;
      gap: 48px;

      a {
        display: flex;
        align-items: center;
        gap: 6px;
        color: $grey;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
      }

      .header_lang {
        width: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        .header_lang_wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 3px;
          padding: 10px;
          cursor: pointer;

          .svg_icon {
            width: 15px;
            height: 15px;
            color: $grey;
          }
          p {
            color: $grey;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
          }
        }

        .header_drop_down {
          position: absolute;
          top: 120%;
          left: 0;
          background-color: #f4f5f5;
          border-radius: 6px;
          box-shadow: 3px 3px 6px 10px #0000000f;
          width: 100%;

          .header_drop_down_item {
            padding: 10px;
            cursor: pointer;
            color: $grey;
          }
        }
      }
    }
  }
}
