.furniture {
    margin-bottom: 175px;
    .container {
        max-width: 1672px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .furniture_list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 768px) {
    .furniture {
        margin-bottom: 100px;
        .container {
            padding-right: 0px;
        }
        .furniture_list {
            display: flex;
            align-items: center;
            gap: 10px;
            overflow: scroll;
            &::-webkit-scrollbar {
                width: 0;
              }
        }
    }
}