.furniture {
    margin-bottom: 175px;
    .container {
        max-width: 1672px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .furniture_list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}