@import "../../../../scss/variable.scss";

.footer_bottom {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .footer_bottom_left {
    div {
      display: flex;
      align-items: center;
      gap: 24px;
      margin-bottom: 32px;
      a {
        background: #f9f9f9;
        width: 60px;
        height: 60px;
        padding: 10px;
        border-radius: 50%;

        .instagram {
          &:hover {
            path {
              stroke: $darkYellow;
            }
          }
        }

        .telegram {
          &:hover {
            path {
              fill: $darkYellow;
            }
          }
        }

        .facebook {
          &:hover {
            path {
              fill: $darkYellow;
            }
          }
        }
      }
    }

    p {
      color: $grey;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 155.556% */
    }
  }

  .footer_bottom_right {
    display: flex;
    align-items: center;
    gap: 24px;

    a {
      background: #f9f9f9;
      width: 60px;
      height: 60px;
      padding: 10px;
      border-radius: 50%;

      .apple {
        &:hover {
          path {
            fill: $darkYellow;
          }
        }
      }

      .android {
        &:hover {
          path {
            fill: $darkYellow;
          }
        }
      }
    }

    p {
      color: #020105;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 133.333% */
      margin-right: 16px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .footer_bottom {
    padding-top: 35px;

    .footer_bottom_left {
      div {
        display: flex;
        align-items: center;
        gap: 18px;
        margin-bottom: 32px;
        a {
          width: 50px;
          height: 50px;
          padding: 10px;
          border-radius: 50%;
        }
      }

      p {
        font-size: 15px;
        line-height: 18px; /* 155.556% */
      }
    }

    .footer_bottom_right {
      display: flex;
      align-items: center;
      gap: 18px;

      a {
        background: #f9f9f9;
        width: 50px;
        height: 50px;
        padding: 10px;
        border-radius: 50%;
      }

      p {
        font-size: 15px;
        line-height: 18px; /* 133.333% */
        margin-right: 12px;
      }
    }
  }
}

@media only screen and (max-width: 665px) {
  .footer_bottom {
    padding-top: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    .footer_bottom_left {
      margin-bottom: 20px;
      div {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 32px;
        a {
          width: 45px;
          height: 45px;

          .instagram {
            width: 35px;
            height: 35px;
          }

          .telegram {
            width: 35px;
            height: 35px;
          }

          .facebook {
            width: 35px;
            height: 35px;
          }
        }
      }

      p {
        font-size: 15px;
        line-height: 15px; /* 155.556% */
      }
    }

    .footer_bottom_right {
      display: flex;
      align-items: center;
      gap: 18px;

      a {
        background: #f9f9f9;
        width: 45px;
        height: 45px;

        .apple {
          width: 35px;
          height: 35px;
        }

        .android {
          width: 35px;
          height: 35px;
        }
      }

      p {
        font-size: 15px;
        line-height: 15px; /* 133.333% */
        margin-right: 10px;
      }
    }
  }
}
